torch>=2.0.0
torchaudio>=2.0.0
ffmpeg-python
soundfile
omegaconf
requests
pyworld
torchcrepe
praat-parselmouth>=0.4.2
numpy<=1.23.5
fairseq@git+https://github.com/MisileLab/fairseq-butter
faiss-cpu
av
loguru
uvicorn
fastapi
pydantic
python-multipart